/*font url*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Unbounded:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url('./media/oshinoko.png');
}

.navb {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: large;
    border-bottom:0.5px solid black;
    background-color: rgba(255, 182, 193, 0.7);
    display: flex;
    color: white;
    padding: 20px;
    width: 100%;
    .parent {
        display: flex;
    }
    .child {
        flex: 1;
    }
}

.navMenu {
    color : black;
    margin: 10px;
    text-decoration: none;
    float: left;
}

.navMenu_r {
    color : black;
    text-decoration: none;
    float: right;
    justify-content: end;
    margin-left: auto;
}

/*div박스 모음*/
.box {
    text-align: center;
    box-align: center;
    border: 2px solid black;
    display: flex;
}

.searchbar {
    background-color: rgba(255,0,0,0.5);
    display: flex;
    justify-content:center;
    width: 30%;
    height: 30%;
    border: 2px solid black;
    font-family: 'Grand Hotel', cursive;
    margin:0 auto;
}


.formbox {
    font-family: arial;
    display: flex;
    justify-content:center;
}

.formbox label {
    float: left;
    font-size: 13px;
    width:70px;
    justify-content: flex-end;
    
}





/* 버튼모음 */
.button01 {
    width: 100px;
    height :25px;
    background-color:rgb(85, 85, 85);
    color: white;
    font-size: 12px;
    box-shadow: 0 4px 16px rgba(0, 50, 50, 0.3);
    border-radius: 20px; 
    cursor: pointer;
    }

.search_engine {
    display: flex;
}


/* label태그 */
.signup-profileImg-label {
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}

/* input태그 */
.form-signup input[type="file"] {
  display: none;
}


/* 기타요소 모음 */

/* 빈 사각형 */
.box{

    width: 100px;

    height: 100px;

    background-color: white;

}






/* @babel/plugin-proposal-private-property-in-object */
