.App {
  text-align: center;
}

.navb {
    border-bottom:0.5px solid black;
    background-color: lightpink;
    display: flex;
    color: white;
    padding: 20px;
    width: 100%;
}

.navMenu {
    color : black;
    margin: 10px;
    text-decoration: none;
}

@babel/plugin-proposal-private-property-in-object
